// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@crumbHeight: 12px;
@crumbWidth: @crumbHeight;
@back: @tab-bar-background-color;
@borderColor: @button-background-color;

.crumbColor(@color) {
	.indent-codecrumbs__crumb-text {
    background: @color;
  }
  &::after {
    border-left-color: @color;
  }
  &:hover + li::before {
    filter: brightness(150%);
    border-left-color: @color;
  }
}

indent-codecrumbs {
  display: block;
}
.indent-codecrumbs {
  display: flex;
  flex-wrap: nowrap;
  list-style:none;
  overflow-x: auto;
  color: @text-color-highlight;
  margin: 0;
  padding: 0;
  &__el {
    position: relative;
    display: inline-flex;
    height: @crumbHeight * 2;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
    &:not(:first-child)::before, &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      pointer-events: none;
    }
    &:not(:first-child)::before {
      left: 0;
      top: 0;
      bottom: 0;
      border-left: @crumbWidth solid @back;
      border-top: @crumbWidth solid transparent;
      border-bottom: @crumbWidth solid transparent;
      z-index: 0;
    }
    &::after {
      right: -@crumbWidth + 2px;
      top: 2px;
      border-left: @crumbWidth - 2px solid @borderColor;
      border-top: @crumbWidth - 2px solid transparent;
      border-bottom: @crumbWidth - 2px solid transparent;
      z-index: 1;
    }
    &:last-child::after {
      top: 0;
      right: -@crumbWidth;
      border-left: @crumbWidth solid @borderColor;
      border-top: @crumbWidth solid transparent;
      border-bottom: @crumbWidth solid transparent;
    }
    &:hover {
      filter: brightness(150%);
    }
    .crumbColor(@borderColor);
    &.storage {
      .crumbColor(spin(saturate(lighten(@borderColor, 9), 30), 150));
    }
    &.property {
      .crumbColor(spin(saturate(lighten(@borderColor, 9), 30), 25));
    }
    &.function {
      .crumbColor(spin(saturate(lighten(@borderColor, 9), 30), 45));
    }
    &.control {
      .crumbColor(spin(saturate(lighten(@borderColor, 9), 30), -50));
    }
  }
	&__crumb-text {
		width: 100%;
		flex-grow: 1;
		text-overflow: ellipsis;
		overflow-x: hidden;
		padding: 0.25em;
		padding-left: @crumbWidth + 2px;
	}
}
